
body {
 background-image: url(../img/backgrounds/Grass.png); /* Background for the site */

 background-attachment: fixed;	/* Controls whether background scrolls */
 
 /*background-repeat: repeat; /* Repeats background on x, y, or both axis */

 background-size: auto%;	/* research */

 background-color: rgba(100,100,100,.8); /* Tint color */

 background-blend-mode: multiply;	/* Tint for background */

  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;

}

.logo img{
		margin-top: 200px;
		padding-left:	35%;
		width:	30%;
		display: block;
		position: center;
}